<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- $Id:log4j.xml 143 2005-10-04 21:26:44Z mrohrmoser $ -->
<!--
   | For more configuration information and examples see the Jakarta Log4j
   | website: http://jakarta.apache.org/log4j
 -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<!-- see http://logging.apache.org/log4j/docs/api/org/apache/log4j/ConsoleAppender.html -->
		<param name="Target" value="System.out"/>
		<param name="Threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<!-- see http://logging.apache.org/log4j/docs/api/org/apache/log4j/PatternLayout.html -->
			<param name="ConversionPattern" 
				value="%d{ISO8601} %-5p [%t] %c::%M %m%n"/>
			<!-- param name="ConversionPattern" 
				value="%-5p %m%n"/ -->
		</layout>
	</appender>
	<!-- category name="jcurl.core.io">
		<level value="INFO"/>
	</category -->
	<category name="jcurl.core.io.OldConfigReader">
		<level value="WARN"/>
	</category>
	<!-- ======================= -->
	<!-- Setup the Root category -->
	<!-- ======================= -->
	<root>
		<level value="INFO"/>
		<appender-ref ref="CONSOLE"/>
	</root>
</log4j:configuration>